$btn-color: #ff9c9c;
$voice-btn-color: #ff7c7c;
$card-color: rgb(255, 125, 125);
$dark-card-color: rgb(78, 78, 78);
$control-color: rgba(255, 123, 123, 0.76);
$control-hover-color: rgba(255, 123, 123, 0.9);